/* ==========================================================================
   libros
   ========================================================================== */

.container_libros {
  font-family: var(--font-family--title);
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  top: 2em;
  padding: 2em 0 8em 0;
}

.libros__row {
  font-family: var(--font-family--title);
  font-size: 22px;
  letter-spacing: 1px;
  background-color: white;
  color: #3f5374;
  padding: 1em 0 1em 0;
}

.libros__item {
  position: relative;
}

.libros__img {
  width: auto !important;
  float: left;
  clear: both;
  border-radius: 5px;
  display: block;
  opacity: 1;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

.libros__img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.libros__img--text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.libros__titulo a {
  color: #3f5374;
  font-size: 1.6em;
  text-decoration: none;
}

.libros__titulo a:hover {
  color: #007986;
  font-size: 1.6em;
  text-decoration: underline;
}

.libros__autor a {
  color: #3f5374;
  font-size: 1.1em;
  text-decoration: none;
}

.libros__autor a:hover {
  color: #7089bd;
  text-decoration: underline;
}

.libros__editorial span {

}

.libros__masinfo a {
  position: relative;
  color: #3f5374;
  font-size: 0.7em;
  text-decoration: none;
  bottom: 0;
  left: 0;
}

/* ==========================================================================
   libro
   ========================================================================== */

.container_libro {
  font-family: var(--font-family--text);
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  top: 5em;
  background-color: #3f5374;
}

.libro__header--height {
  height: 8em;
}

.libro__subheader--height {
  height: 5em;
  background-color: #ffffff;
}

.libro__img {
  position: absolute;
  top: -3em;
  left: 3em;
  z-index: 10;
}

.libro__titulo span {
  position: relative;
  font-family: var(--font-family--title);
  font-size: 2em;
  letter-spacing: 1px;
  color: #ffffff;
  top: 0em;
  left: 7em;
  text-decoration: none;
}

.libro__autor span {
  position: relative;
  color: #ffffff;
  left: 14em;
  top: -1em;
  font-size: 1em;
  text-decoration: none;
}

.libro__editorial p {
  /*color: #ffffff;*/
  margin: 0;
  position: relative;
  color: #3f5374;
  left: 23.3em;
  top: 1em;
  font-size: 0.6em;
  text-decoration: none;
}

.libro__sinopsis {
  position: relative;
  color: #ffffff;
}