/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  background-color: dimgrey;
  font-family: var(--font-family--title);
  font-size: 18px;
  letter-spacing: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #ffffff;
  z-index: 10;
  width: 100%;
}

.footer {
  height: 5em;
}

.main-footer {
  height: 5em;
}

.copyright {
  font-size: 15px;
  bottom: 0;
  left: 0;
}

.footer-links__item {
  top: 0.5em;
}

.footer-links__link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-links__link {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .copyright {
    margin-bottom: 0;
  }

  .footer-links {
    text-align: right;
  }

  .footer-links__item {
    /*display: inline-block;*/
    /*margin: 0 0 0 10px;*/
  }
}