<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar Login bar
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div >
            <a >
              <img src="assets/favicon96x96.png" class="logo">
            </a>
          </div>
        </div>
        <div class="col-md-10 center-icons">
          <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-home fa-3x"></i></a>
          <a routerLink="/libros" routerLinkActive="active"><i class="fa fa-book fa-3x"></i></a>
          <a routerLink="/autores" routerLinkActive="active"><i class="fa fa-address-book fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>
