<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="col-md-2">
          <div class="navbar-header">
            <a class="navbar-brand">
              <img src="assets/favicon96x96.png" class="logo">
            </a>
          </div>
        </div>
        <div class="col-md-8 offset-3">
          <ul class="nav navbar-nav">
            <div class="navbar-header active">
              <a routerLink="/dashboard" routerLinkActive="active">
                <span class="sr-only">UAZON CMS</span>
              </a>
            </div>
            <div class="navbar-nav active">
              <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-home fa-3x"></i></a>
            </div>
            <div class="active">
              <a class="navbar-brand" routerLink="/libros" routerLinkActive="active"><i class="fa fa-book fa-3x"></i></a>
            </div>
            <div class="active">
              <a class="navbar-brand" routerLink="/autores" routerLinkActive="active"><i class="fa fa-address-book fa-3x"></i></a>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
